.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

li {
  list-style: none;
}

.title-box {
  border-style: solid;
  border-color: black;
  background-color: grey;
  border-width: thick;
}
.fonts h3 {
  font-family: sans-serif;
}

.float-head {
  float: left;
}

h3 {
  background-color: grey;
}
